@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Limite de Asientos";
}

<!--INICIO CARD NORMAL-->
<div class="card">
    <div class="card-body">
        <p class="card-text">
            <h4>@ViewBag.Message</h4>
        </p>
    </div>
</div>
<!--FIN CARD NORMAL-->