@{
    ViewBag.Title = "Acerca de";
}
<h2>@ViewBag.Title.</h2>

<!--INICIO CARD NORMAL-->
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Ceballos y Navarro.</h4>
        <h6 class="text-muted card-subtitle mb-2">@ViewBag.Message</h6>
        <p class="card-text">
            Para Contrataciones y ventas: <br />
            <address>
                <strong>Soporte:</strong> <a class="card-link" href="mailto:michcpaulino@gmail.com">Correo Electronico</a> <br />
                <strong>Telegram:</strong> <a class="card-link" href="https://t.me/Mich_El_Conquistador">@@Mich_El_Conquistador</a>
            </address>
    </div>
</div>
<!--FIN CARD NORMAL-->