@{
    ViewBag.Title = "INICIO";
}

<div class="col">
    <div class="row text-center">
        <div class="col"><img class="rounded img-fluid" style="width: 200px;height: 200px;" src="/assets/img/g4912.png"></div>
    </div>
</div>
<div class="card-body">
    <p class="card-text">
        <h4>
            <strong>Ventas Totales: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="alert-info badge-pill">&sum;@ViewBag.VentasTotales</span></strong> <br /><br />
            <strong>Ganancias Totales: &nbsp;&nbsp;<span class="alert-secondary badge-pill">&#36;@ViewBag.GranTotal</span></strong> <br /><br />
            <strong>Vendedor actual: &nbsp;&nbsp;<span class="alert-warning badge-pill">@ViewBag.Usuario</span></strong>
        </h4>
        <br />
    </p>
    <p class="card-footer">
    </p>
</div>
